body {
  background-color: black;
}

input {
  width: 120px;
  height: 128px;
  margin: 0px;
  font-size: 40px;
  font-weight: lighter;
  font-family: Arial;
  border-width: 1px;
  border-color: #d2f6d4;
  border-style: solid;
  background-color: #52c856;
  float: left;
  color: white;
}

.results {
  width: 357.5px;
  height: 125px;
  text-align: right;
}

.calculatorWrapper {
  width: 481.5px;
  height: 642px;
  background-color: #EEE7DD;
}

.pemdas {
  background-color: #a0f7a3;
  color: rgb(96, 119, 94);
}

.start-end {
  height: 129px;
}
