body {
  background-color: black;
}

button {
  width: 120px;
  height: 125px;
  margin: 0px;
  font-size: 45px;
  font-weight: lighter;
  font-family: sans-serif;
}

#total {
  width: 368px;
  height: 125px;
  text-align: right;
  padding-right: 20px;
  background-color: #c1d0bf;
}

.calculator-wrapper {
  width: 493px;
  height: 627px;
  background-color: #EEE7DD;
}

.pemdas {
  background-color: #95a986;
}

.numbers {
  background-color: #C8A9AF;
}

.start-end {
  background-color: #ffcccc;
}
/*each button should be 100 px
space between 10px */
